#menu-i .navbar-toggler {
  color: #000;
}
#msg-box5-g .mbr-section-title {
  color: #000000;
}
#header2-j P {
  text-align: right;
  color: #000000;
}
#header2-j H1 {
  color: #000000;
}
#content5-l .mbr-section-title {
  font-size: 30px;
}
#content5-l DIV {
  color: #000000;
}
#content5-n P {
  font-size: 15px;
}
#menu-i .navbar-toggler {
  color: #000;
}
#form1-s .mbr-section-title {
  color: #f8f8f6;
}
#menu-i .navbar-toggler {
  color: #000;
}
