#ext_menu-g .navbar-toggler {
  color: #5cb85c;
}
#ext_menu-g .nav-link {
  font-size: 20px;
}
#ext_menu-g .navbar-brand {
  font-size: 25px;
}
#msg-box5-g .mbr-section-title {
  color: #000000;
}
#header2-j P {
  text-align: right;
  color: #000000;
}
#header2-j H1 {
  color: #000000;
}
#content5-l .mbr-section-title {
  font-size: 30px;
}
#content5-l DIV {
  color: #000000;
}
#content5-n P {
  font-size: 15px;
}
#ext_menu-o .navbar-toggler {
  color: #5cb85c;
}
#ext_menu-o .nav-link {
  font-size: 20px;
}
#ext_menu-o .navbar-brand {
  font-size: 25px;
}
#ext_menu-r .navbar-toggler {
  color: #5cb85c;
}
#ext_menu-r .nav-link {
  font-size: 20px;
}
#ext_menu-r .navbar-brand {
  font-size: 25px;
}
